@inherits ApiClientSandboxComponentBase

<div class="row">
    <div class="col-6">
        <h3>Request</h3>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Product ID</label>
            <div class="col-8">
                <InputText class="form-control" @bind-Value="@ProductId"></InputText>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Start Date</label>
            <div class="col-8">
                <InputDate class="form-control" @bind-Value="@StartDate"></InputDate>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">End Date</label>
            <div class="col-8">
                <InputDate class="form-control" @bind-Value="@EndDate"></InputDate>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Granularity</label>
            <div class="col-8">
                <InputSelect class="form-control" @bind-Value="@Granularity">
                    <option value="@CandleGranularity.OneMinute">One Minute</option>
                    <option value="@CandleGranularity.FiveMinute">Five Minute</option>
                    <option value="@CandleGranularity.FifteenMinute">Fifteen Minute</option>
                    <option value="@CandleGranularity.ThirtyMinute">Thirty Minute</option>
                    <option value="@CandleGranularity.OneHour">One Hour</option>
                    <option value="@CandleGranularity.TwoHour">Two Hour</option>
                    <option value="@CandleGranularity.SixHour">Six Hour</option>
                    <option value="@CandleGranularity.OneDay">One Day</option>
                </InputSelect>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-8 offset-4">
                <button class="btn btn-primary" @onclick="@GetProductCandlesAsync">GET</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3>Response</h3>
        @if (Result != null)
        {
            <div class="form-group row p-2">
                <label class="col-4 col-form-label">Success</label>
                <label class="col-8 col-form-label">@Result.Success</label>
            </div>

            @if (Result.Success)
            {
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Candles</label>
                </div>
                <RadzenDataGrid TItem="Candle" Data="Result.Data.Candles" PageSize="10" AllowPaging="true" ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="Candle" Property="Start" Title="Start" />
                        <RadzenDataGridColumn TItem="Candle" Property="Low" Title="Low" />
                        <RadzenDataGridColumn TItem="Candle" Property="High" Title="High" />
                        <RadzenDataGridColumn TItem="Candle" Property="Open" Title="Open" />
                        <RadzenDataGridColumn TItem="Candle" Property="Close" Title="Close" />
                        <RadzenDataGridColumn TItem="Candle" Property="Volume" Title="Volume" />
                    </Columns>
                </RadzenDataGrid>
            }
            else
            {
                <ErrorResponseComponent TItem="CandlesPage" Result="Result" />
            }
        }
    </div>
</div>

@code {
    public string ProductId { get; set; }

    public DateTimeOffset StartDate { get; set; }

    public DateTimeOffset EndDate { get; set; }

    public CandleGranularity Granularity { get; set; } = CandleGranularity.TwoHour;

    public ApiResponse<CandlesPage> Result { get; set; } = null;

    public async Task GetProductCandlesAsync()
    {
        Result = await Client.Products.GetProductCandlesAsync(ProductId, StartDate, EndDate, Granularity);
    }
}
