<div class="row">
    <div class="col-6">
        <h3>Request</h3>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Order ID</label>
            <div class="col-8">
                <InputText class="form-control" @bind-Value="@OrderId"></InputText>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Product ID</label>
            <div class="col-8">
                <InputText class="form-control" @bind-Value="@ProductId"></InputText>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Start Date</label>
            <div class="col-8">
                <InputDate class="form-control" @bind-Value="@StartDate"></InputDate>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">End Date</label>
            <div class="col-8">
                <InputDate class="form-control" @bind-Value="@EndDate"></InputDate>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Limit</label>
            <div class="col-8">
                <InputNumber class="form-control" @bind-Value="@Limit"></InputNumber>
            </div>
        </div>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Cursor</label>
            <div class="col-8">
                <InputText class="form-control" @bind-Value="@Cursor"></InputText>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-8 offset-4">
                <button class="btn btn-primary" @onclick="@GetListFillsAsync">GET</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3>Response</h3>
        @if (Result != null)
        {
            <div class="form-group row p-2">
                <label class="col-4 col-form-label">Success</label>
                <label class="col-8 col-form-label">@Result.Success</label>
            </div>

            @if (Result.Success)
            {
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Has Next</label>
                    <label class="col-8 col-form-label">@Result.Data.HasNext</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Cursor</label>
                    <label class="col-8 col-form-label">@Result.Data.Cursor</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Fills</label>
                </div>
                <RadzenDataGrid TItem="Fill" Data="Result.Data.Fills" PageSize="10" AllowPaging="true" ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="Fill" Property="OrderId" Title="Order ID" Width="300px" />
                        <RadzenDataGridColumn TItem="Fill" Property="ProductId" Title="Product ID" />
                        <RadzenDataGridColumn TItem="Fill" Property="TradeType" Title="Trade Type" />
                        <RadzenDataGridColumn TItem="Fill" Property="Price" Title="Price" />
                        <RadzenDataGridColumn TItem="Fill" Property="Size" Title="Size" />
                    </Columns>
                </RadzenDataGrid>
            }
            else
            {
                <ErrorResponseComponent TItem="FillsPage" Result="Result" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public ICoinbaseAdvancedTradeApiClient Client { get; set; }

    public string OrderId { get; set; } = null;

    public string ProductId { get; set; } = null;

    public DateTimeOffset? StartDate { get; set; } = null;

    public DateTimeOffset? EndDate { get; set; } = null;

    public int? Limit { get; set; } = null;

    public string Cursor { get; set; } = null;

    public ApiResponse<FillsPage> Result { get; set; } = null;

    public async Task GetListFillsAsync()
    {
        Result = await Client.Orders.GetListFillsAsync(OrderId, ProductId, StartDate, EndDate, Limit, Cursor);
    }
}
