<div class="row">
    <div class="col-6">
        <h3>Request</h3>
        <div class="form-group row p-2">
            <label class="col-4 col-form-label">Order ID</label>
            <div class="col-8">
                <InputText class="form-control" @bind-Value="@OrderId"></InputText>
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-8 offset-4">
                <button class="btn btn-primary" @onclick="@GetOrderAsync">GET</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3>Response</h3>
        @if (Result != null)
        {
            <div class="form-group row p-2">
                <label class="col-4 col-form-label">Success</label>
                <label class="col-8 col-form-label">@Result.Success</label>
            </div>

            @if (Result.Success)
            {
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">ID</label>
                    <label class="col-8 col-form-label">@Result.Data.Id</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Product ID</label>
                    <label class="col-8 col-form-label">@Result.Data.ProductId</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">User ID</label>
                    <label class="col-8 col-form-label">@Result.Data.UserId</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Order Configuration</label>
                    <label class="col-8 col-form-label">@Result.Data.OrderConfiguration</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Side</label>
                    <label class="col-8 col-form-label">@Result.Data.Side</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Client Order ID</label>
                    <label class="col-8 col-form-label">@Result.Data.ClientOrderId</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Status</label>
                    <label class="col-8 col-form-label">@Result.Data.Status</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Time in Force</label>
                    <label class="col-8 col-form-label">@Result.Data.TimeInForce</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Created Time</label>
                    <label class="col-8 col-form-label">@Result.Data.CreatedTime</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Completion Percentage</label>
                    <label class="col-8 col-form-label">@Result.Data.CompletionPercentage</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Filled Size</label>
                    <label class="col-8 col-form-label">@Result.Data.FilledSize</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Average Filled Price</label>
                    <label class="col-8 col-form-label">@Result.Data.AverageFilledPrice</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Fee</label>
                    <label class="col-8 col-form-label">@Result.Data.Fee</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Number of Fills</label>
                    <label class="col-8 col-form-label">@Result.Data.NumberOfFills</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Pending Cancel</label>
                    <label class="col-8 col-form-label">@Result.Data.PendingCancel</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Size in Quote</label>
                    <label class="col-8 col-form-label">@Result.Data.SizeInQuote</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Total Fees</label>
                    <label class="col-8 col-form-label">@Result.Data.TotalFees</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Size Inclusive of Fees</label>
                    <label class="col-8 col-form-label">@Result.Data.SizeInclusiveOfFees</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Total Value After Fees</label>
                    <label class="col-8 col-form-label">@Result.Data.TotalValueAfterFees</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Trigger Status</label>
                    <label class="col-8 col-form-label">@Result.Data.TriggerStatus</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Order Type</label>
                    <label class="col-8 col-form-label">@Result.Data.OrderType</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Reject Reason</label>
                    <label class="col-8 col-form-label">@Result.Data.RejectReason</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Settled</label>
                    <label class="col-8 col-form-label">@Result.Data.Settled</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Product Type</label>
                    <label class="col-8 col-form-label">@Result.Data.ProductType</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Reject Message</label>
                    <label class="col-8 col-form-label">@Result.Data.RejectMessage</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Cancel Message</label>
                    <label class="col-8 col-form-label">@Result.Data.CancelMessage</label>
                </div>
                <div class="form-group row p-2">
                    <label class="col-4 col-form-label">Order Placement Source</label>
                    <label class="col-8 col-form-label">@Result.Data.OrderPlacementSource</label>
                </div>
            }
            else
            {
                <ErrorResponseComponent TItem="Order" Result="Result" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public ICoinbaseAdvancedTradeApiClient Client { get; set; }

    public string OrderId { get; set; }

    public ApiResponse<Order> Result { get; set; } = null;

    public async Task GetOrderAsync()
    {
        Result = await Client.Orders.GetOrderAsync(OrderId);
    }
}
